<!DOCTYPE html>
<html>
<head>
	<title>Health Connect</title>
</head>
<body bgcolor="lightblue" >
<div >
<center>
<h1 >Skill Development Project-2</h1>
<h2><u>Health Connect</u></h2>
<hr><hr>
<h3>Customer</h3>
<a href="homeuser">Home</a><br>
<a href="loginuser">Login</a><br>
<a href="registeruser">Register</a>
<br><br><br>
<hr>
<h3>Doctor</h3>
<a href="logindoc">Login</a><br>
<a href="registerdoc">Register</a>
<br><br><br>
<hr>
<h3>Admin</h3>
<a href="loginadmin">Login</a><br>
<a href="adminhome">Home</a><br>
<hr>
</center>
</div>
</body>
</html>